<div *ngIf="showError" class="row">
  <div class="alert alert-danger" role="alert">
    <strong>Sorry!</strong> {{ errorMsg }}
  </div>
</div>
<div class="row">
  <div class="card w-50 mx-auto">
    <div class="card-body">
      <h3 class="card-title text-center">Sign In</h3>
      <form [formGroup]="loginForm" (ngSubmit)='getLoginDetails(loginForm.value)'>
        <div class="form-group">
            <input  type="text" formControlName="username" class="form-control" placeholder="Your Username *">
        </div>
        <div *ngIf="loginForm.controls['username'].errors && !loginForm.controls['username'].pristine" class="alert alert-danger">
          Username is required.
        </div>
        <div class="form-group">
            <input type="password" formControlName="password" class="form-control" placeholder="Your Password *">
        </div>
        <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="alert alert-danger">
          Password is required. <br>
          Password must be 8 characters.
        </div>
        <div class="form-group">
          <input [disabled]="!loginForm.valid"  type="submit" class="btn btn-outline-primary" value="Log in"/>
        </div>  
      </form>
    </div>
  </div>
</div>

